<div class="quantity-picker__counter">
  <label for="Quantity" class="js-quantity-picker-minus quantity-picker__minus">-</label>
  <input class="js-quantity-picker-input quantity-picker__input" type="number" id="Quantity" name="quantity" value="1"
    min="1" />
  <label for="Quantity" class="js-quantity-picker-plus quantity-picker__plus">+</label>
</div>