<div class="hero-divider">
    <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 201">
    <path d="M1440 200.98V0L0 81.935V200.98z" fill="{{ color }}" fill-rule="evenodd"/>
    </svg>
</div>