<svg class="arrow-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 337 193" height="193" width="337">
    <title>Arrow Down</title>
    <polyline transform="translate(-87.5,-159.3783)" id="polyline4" style="fill:none;stroke-width:48px;stroke-linecap:round;stroke-linejoin:round" points="112 184 256 328 400 184"></polyline>
</svg>