section.mfr-core__image-carousel {
  position: absolute;
  width: 62%;
  height: 100%;
  left: 0;
  top: 0;
  .small-order-1 {
    @include breakpoint(small only) {
      margin-bottom: 3rem;
    }
  }
  .section-title {
    // line-height: 50px;
    letter-spacing: -1px;
  }
  
  .section-content {
    padding: 0rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;
    @include breakpoint(large up) {
      padding: 3rem;
      margin-bottom: 0rem;
    }
    .inner {
      margin: 0 auto;
      width: 40rem;
      max-width: 90%;
      @include breakpoint(medium up) {
        //padding: 2rem;
      }
    }
    .section-title {
      position: relative;
      z-index: 1;
      //text-align: center;
      &.offset-title {
        @include breakpoint(large up) {
          @include transform(translate(-13rem, 0px));
        }
      }
      &.no-wrap {
        @include breakpoint(large up) {
          white-space: nowrap;
        }
      }
    }
    .description {
      max-width: 36rem;
      margin: 0 auto;
    }
   
  }

  .carousel-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    &:before {
      content: "";
      width: 1rem;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
    }
    .carousel-cell {
      height: 100%;
      width: 100%;
      &:not( .is-selected ) {
          opacity: 30% !important;
      }

      .inner {
        position: relative;
        height: 100%;
        .image {
          height: 100%;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .flickity-page-dots {
      z-index: 2;
      position: absolute;
      width: 100%;
      left: 0;
      margin: 0;
      bottom: 2rem;
      .dot {
        border: 1px solid $theme-color-white;
        background-color: transparent;
    
        &.is-selected {
          background: $theme-color-white;
        }
      }
    }
  }

  .section-image {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    position: relative;
    &.margin-bottom {
      margin-bottom: 2rem;
    }
    &.margin-top {
      margin-top: 2rem;
    }
    &.cover {
      .responsive-image__wrapper {
        height: 100%;
        img {
          object-fit: cover;
        }
      }
    }
    &.contain .image-wrapper {
      max-width: 37.5rem;
    }
    .image-wrapper {
      @include transition(1s all cubic-bezier(0.5,0,0,1));
      width: 100%;
      //height: 100%;
      overflow: hidden;
    }
  
  }

  .flickity-prev-next-button:disabled {
    opacity: 0;
  }
  .flickity-prev-next-button {
    @include border-radius(100rem);
    width: 3.875rem;
    height: 3.875rem;
    padding: 1rem;
    background-color: $theme-color-white;
    .arrow {
      fill: $color-accent-3;
    }
    svg {
      width: auto;
      height: auto;
    }
  }



  
}
