section.mfr-core__text-section {
  position: relative;
  .section-content {
    position: relative;
    // max-width: 60rem;
    margin: 0 auto;
    z-index: 1;
    .image  {
      margin: 3rem auto;
    }
    &.text-center {
      .section-text {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .text-background.image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint( medium up ) {
      max-width: 350px;
    }

    @include breakpoint( large up ) {
      max-width: 500px;
    }
  }
  
}

// If this section is the first section, add extra padding that matches the header height on smaller breakpoints.
#MainContent {
  .shopify-section:first-child {
    section.mfr-core__text-section {
      @include breakpoint( medium only ) {
        padding-top: rem-calc( 40px );
      }

      @include breakpoint( small only ) {
        padding-top: rem-calc( 60px );
      }
    }
  }
}