<section class="page-404 background align-center">
  <div class="page-404__wrapper container section-header section_spacing_medium_top section_spacing_xlarge_bottom">
    <div class="page-404__content text-center">
      <p class="h1 large content-margin">
        {{ 'templates.404.subtext' | t }}
      </p>
      <div class="content-margin">
        <h1 class="title h2">
          {{ 'templates.404.title' | t | downcase }}
        </h1>
      </div>
      <a href="/" class="button tertiary color-accent-1">
        {{ 'general.continue_shopping' | t }}
      </a>
    </div>
  </div>
</section>