{%- assign top_spacing = section.settings.section_spacing_top -%}
{%- assign bottom_spacing = section.settings.section_spacing_bottom -%}

{% if section.settings.section_bg_color %}
  {%- assign section_specific_bg_color = section.settings.section_bg_color -%}
{% endif %}

<section class="content__style-guide" style="background-color:{{ section_specific_bg_color }};">
  <div class="grid-container {{ top_spacing }} {{ bottom_spacing }}">

    <div class="style-guide grid-x align-center">

      <div class="small-12 medium-8 cell">
        <div class="inner">
          <div class="slide-content">
            <h1 class="h1 content-margin">Header 1</h1>
            <h1 class="h1 content-margin large">Header 1 large</h1>
            <h2 class="h2 content-margin">Header 2</h2>
            <h3 class="h3 content-margin">Header 3</h3>
            <h4 class="h4 content-margin">Header 4</h4>
            <div class="small content-margin">
              <p>Small Paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <p class="content-margin">Regular Paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <div class="large content-margin">
              <p>Large Paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="button-set">
              <div style="margin:.5rem;" class="color-accent-1 button primary">Primary</div>
              <div style="margin:.5rem;" class="color-accent-2 button outline secondary">Secondary</div>
              <div style="margin:.5rem;" class="color-accent-3 button primary tertiary">Tertiary</div>
              <div style="margin:.5rem;" class="black button primary arrow">Arrow <span>{% include 'icon__right-arrow' %}</span></div>
              <div style="margin:.5rem;" class="outline button primary small">Small</div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>



</section>






{% schema %}
  {
    "name": "Style Guide",
    "settings": [
      {
        "type": "header",
        "content": "Style Guide"
      },
      {
         "type": "select",
         "id": "section_spacing_top",
         "options": [
            { "value": "section_spacing_none_top", "label": "None"},
            { "value": "section_spacing_small_top", "label": "Small"},
            { "value": "section_spacing_medium_top", "label": "Medium"},
            { "value": "section_spacing_large_top", "label": "Large"},
            { "value": "section_spacing_xlarge_top", "label": "X-Large"}
         ],
         "label": "Top spacing"
      },
      {
         "type": "select",
         "id": "section_spacing_bottom",
         "options": [
            { "value": "section_spacing_none_bottom", "label": "None"},
            { "value": "section_spacing_small_bottom", "label": "Small"},
            { "value": "section_spacing_medium_bottom", "label": "Medium"},
            { "value": "section_spacing_large_bottom", "label": "Large"},
            { "value": "section_spacing_xlarge_bottom", "label": "X-Large"}
         ],
         "label": "Bottom spacing"
      },
      {
        "type": "header",
        "content": "Background and dividers"
      },
      {
        "type": "color",
        "id": "section_bg_color",
        "label": "Background color",
        "info": "optional"
      }
    ],
    "presets": [
      {
        "name": "Style Guide",
        "category": "Half Past Custom Sections"
      }
    ]
  }
{% endschema %}
