.image-with-text__media--placeholder {
    background-color: rgba(var(--color-foreground), 0.04);
    position: relative;
    overflow: hidden;
  }
  
  .image-with-text__media--placeholder.image-with-text__media--adapt {
    height: 20rem;
  }
  
  @media screen and (min-width: 750px) {
    .image-with-text__media--placeholder.image-with-text__media--adapt {
      height: 30rem;
    }
  }
  
  .image-with-text__media--placeholder > svg {
    position: absolute;
    left: 50%;
    max-width: 80rem;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    fill: currentColor;
  }