/* Waves
=============================
=============================*/
.divider {
  pointer-events: none;
  display: flex;
  width: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
  position: relative;
  display: flex;
  img {
    width: 100%;
    pointer-events: none;
    @include breakpoint(medium down) {
      height: 9rem;
      object-fit: cover;
    }
  }
  svg {
    width: 101%;
    height: 100%;
  }
  &.divider-top {
    top: 0px;
    position: absolute;
    svg {
      @include transform(translate3d(0px, -1px, -1px) !important);
    }
    &.angled.large {
      height: 13vh;
    }
  }
  &.divider-bottom {
    position: absolute;
    bottom: 0;
    svg {
      @include transform(translate3d(0px, -1px, -1px) !important);
    }
  }
  &.divider-bottom.phyllup-flag {
    position: relative;
    top: 2px;
    @include breakpoint(medium down) {
      margin-top: 3rem;
    }
    svg {
      @include transform(translate3d(0px, 8px, -1px) !important);
    }
  }
  &.divider-bottom.angled {
    @include transform(rotate(180deg));
  }
  &.angled {
    height: 2rem;
    @include breakpoint(large up) {
      height: 5rem;
    }
    @include breakpoint(small only) {
      height: 2.5rem;
    }
    &.large {
      position: absolute;
      height: 30vh;
      width: 100%;
      z-index: 0;
    }
  }
}

.wave {
  @include transform( scaleX( -1 ) );
  display: block;
  width: 100%;
  height: rem-calc( 50px );
  position: absolute;
  left: 0;
  pointer-events: none;
  overflow: hidden;
  touch-action: none;
  pointer-events: none;
  @include breakpoint(large up) {
    height: rem-calc( 152px );
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }

  /* WAVE [ Wave: Down ] */
  &.wave-down {
    @include transform( rotate( 180deg ) );
    top: rem-calc( -2px );
  
    svg {
      @include transform(translate3d( 0, -1px, -1px ) );
    }
  }

  /* WAVE [ Wave: Up ] */
  &.wave-up {
    bottom: rem-calc( -2px );
  
    svg {
      @include transform( translate3d( 0, 1px, 1px ) );
    }
  }

}