.text-callout {
  margin: 0 auto;
  position: relative;
  max-width: 90%;
  @include breakpoint( large up ) {
  }
  &.large {
    width: 22rem;
    max-width: 90%;
    @include breakpoint( large up ) {
      width: 30rem;
    }
  }
  &.small {
    width: 19rem;
    max-width: 90%;
    @include breakpoint( large up ) {
      width: 23rem;
    }
  }
  svg {
    width: 100%;
  }
  margin-bottom: 2rem;
  .text {
    @include transform(translate(-50%, -70%));
    left: 50%;
    top: 50%;
    width: 66%;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
  }
}