//Policy Pages
.shopify-policy__container {
  max-width: 100%;
  width: 100%;
  padding: 11rem 0 3rem;
  background: #cbecf9;
}
.shopify-policy__title {
  margin: 0 auto 2rem;
  width: 40rem;
  max-width: 90%;
}
.shopify-policy__body {
  margin: 0 auto;
  width: 40rem;
  max-width: 90%;
}