/**
 * Sets a media query for the specified breakpoint
 *
 * Accepts:
 * - $media-query: {String} Breakpoint variable (list found in variables.scss)
 *
 * Usage:
 * .selector {
 *   @include breakpoint(medium up) {
 *     color: red;
 *   }
 * }
 */
/**
 * Outputs list of transition properties
 *
 * Accepts:
 * - $transitions: {String} List of transition properties to set
 *
 * Usage:
 * .selector {
 *   @include transition(width, height 0.5s ease-in);
 * }
 */
/**
 * Forces an element to self-clear its children
 *
 * Usage:
 * .selector {
 *   @include clearfix;
 * }
 */
/**
 * Hide element but make it accessible to screen readers
 *
 * Usage:
 * .selector {
 *   @include visually-hidden;
 * }
 */
/**
 * Reverse the properties applied by @mixin visually-hidden
 *
 * Accepts:
 * - $position: {String} Positioning method for element
 *
 * Usage:
 * .selector {
 *   @include visually-shown(relative);
 * }
 */
/* Transition
====================================================================
====================================================================*/
/* Shadow
====================================================================
====================================================================*/
/* Opacity
====================================================================
====================================================================*/
/* Border Radius
====================================================================
====================================================================*/
/* Transforms
====================================================================
====================================================================*/
/* Columns
  ====================================================================
  ====================================================================*/
/* Hover
  ====================================================================
  ====================================================================*/
/* FOOTER */
.footer {
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 1.875rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer__branding {
  flex-basis: unset;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  width: 200px;
}
@media print, screen and (min-width: 64em) {
  .footer__branding {
    flex-basis: 10%;
    width: auto;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

.footer__logo {
  display: inline-block;
  max-width: 6.25rem;
}
.footer__logo .image, .footer__logo svg {
  display: block;
  width: auto;
  height: auto;
  max-height: 2.8125rem;
}

.footer__contact {
  display: inline-block;
  font-size: 1rem;
  color: var(--footer-font-color);
  font-family: "Gellix", sans-serif;
  line-height: 2.375rem;
  position: relative;
  width: 3.25rem;
  height: 3.25rem;
}
.footer__contact:active, .footer__contact:focus {
  color: var(--footer-font-color);
}
.footer__contact:after {
  -moz-transition: 0.2s all cubic-bezier(0.5, 0, 0, 1);
  -o-transition: 0.2s all cubic-bezier(0.5, 0, 0, 1);
  -webkit-transition: 0.2s all cubic-bezier(0.5, 0, 0, 1);
  transition: 0.2s all cubic-bezier(0.5, 0, 0, 1);
  width: 0;
  content: "";
  position: absolute;
  bottom: 0.2rem;
  left: 0;
  height: 2px;
  background: var(--header-menu-font-color);
}
@media print, screen and (min-width: 64em) {
  .footer__contact:hover:after {
    width: 100%;
  }
}

.footer__main {
  padding: 1rem 0;
  flex-basis: 90%;
  flex-grow: 1;
}
@media print, screen and (min-width: 40em) {
  .footer__main {
    padding: 0 1rem;
  }
}
@media print, screen and (min-width: 64em) {
  .footer__main {
    display: flex;
  }
}

.footer__menu {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 60%;
}

.footer__form {
  flex-basis: 25.9375rem;
}
@media print, screen and (max-width: 63.99875em) {
  .footer__form {
    margin-top: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.footer__form .footer-form__text {
  font-family: "Gellix", sans-serif;
  font-size: 1rem;
  color: var(--footer-font-color);
}

.footer__bottom {
  display: flex;
  margin-top: 3.125rem;
  flex-basis: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
@media print, screen and (min-width: 40em) {
  .footer__bottom {
    text-align: left;
  }
}
@media print, screen and (min-width: 64em) {
  .footer__bottom {
    align-items: center;
    justify-content: center;
  }
}
@media print, screen and (max-width: 63.99875em) {
  .footer__bottom {
    flex-direction: column;
  }
}

.footer__legal {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media print, screen and (max-width: 63.99875em) {
  .footer__legal {
    margin-top: 2.1875rem;
  }
}
.footer__legal li {
  display: inline-block;
  margin-right: 0.9375rem;
  font-family: "Gellix", sans-serif;
  font-size: 0.625rem;
  color: var(--footer-font-color);
  letter-spacing: 0.08375rem;
  font-weight: 800;
  text-transform: uppercase;
}
.footer__legal li:last-child {
  margin-right: 0;
}
.footer__legal a {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
  text-transform: inherit;
}

.footer__socials {
  color: var(--color-accent-2);
  margin-top: 0;
  margin-bottom: 0;
}
@media print, screen and (min-width: 64em) {
  .footer__socials {
    margin-left: auto;
  }
}
@media print, screen and (max-width: 63.99875em) {
  .footer__socials {
    order: -1;
  }
}
.footer__socials .social {
  background-color: var(--color-accent-2);
}
@media screen and (pointer: fine) {
  .footer__socials .social:hover {
    background-color: var(--color-accent-2-darker);
  }
}

/* FOOTER TITLE */
.footer-title {
  display: block;
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--footer-font-color);
  margin-bottom: 2.3125rem;
  font-weight: 800;
  font-family: "Gellix", sans-serif;
}
.footer-title:active, .footer-title:focus {
  color: var(--footer-font-color);
}

/* FOOTER MENU */
.footer-menu__items {
  width: 100%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 28.75rem) {
  .footer-menu__items {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 28.75rem) and (max-width: 63.99875em) {
  .footer-menu__items {
    flex-wrap: wrap;
  }
}

.footer-menu__item {
  flex-grow: 0;
  flex-shrink: 1;
  padding-right: 1.25rem;
}
@media print, screen and (max-width: 63.99875em) {
  .footer-menu__item {
    margin-bottom: 2.1875rem;
    flex-grow: 1;
    text-align: center;
  }
}

.footer-menu__submenu {
  list-style: none;
}
.footer-menu__submenu li + li {
  margin-top: 0.25rem;
}
.footer-menu__submenu li:first-child a {
  padding-top: 0;
}
.footer-menu__submenu a {
  display: inline-block;
  color: var(--color-accent-3);
  letter-spacing: 0px;
  font-weight: 400;
  padding-top: 0.1875rem;
  padding-bottom: 0.1875rem;
  font-family: "Gellix", sans-serif;
  font-size: 1rem;
  position: relative;
}
.footer-menu__submenu a:after {
  -moz-transition: 0.2s all cubic-bezier(0.5, 0, 0, 1);
  -o-transition: 0.2s all cubic-bezier(0.5, 0, 0, 1);
  -webkit-transition: 0.2s all cubic-bezier(0.5, 0, 0, 1);
  transition: 0.2s all cubic-bezier(0.5, 0, 0, 1);
  width: 0;
  content: "";
  position: absolute;
  bottom: 0.2rem;
  left: 0;
  height: 2px;
  background: var(--header-menu-font-color);
}
.footer-menu__submenu a[data-open=offCanvasContact] {
  cursor: pointer;
}
@media print, screen and (min-width: 64em) {
  .footer-menu__submenu a:hover:after {
    width: 100%;
  }
}

/* SOCIALS */
.socials {
  display: flex;
  list-style: none;
}

.socials__graphic {
  margin-right: 1.25rem;
}
.socials__graphic .image, .socials__graphic svg {
  display: block;
  height: 3rem;
  width: auto;
}

.socials__link + .socials__link {
  margin-left: 0.875rem;
}

/* SOCIAL */
.social {
  color: inherit;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__icon svg {
  width: 2.9375rem;
  height: 2.9375rem;
  display: block;
}
.social__title {
  display: none;
}
